html {
  height: 100%;
  min-height: 100%;
}
body {
  font-family: Arial, Helvetica, sans-serif;
}
nav {
  display: grid;
  grid-template-columns: 1fr 70px 70px 70px 128px;
  grid-template-rows: 50px;
  grid-template-areas: ". gmail Vaizdai icon Prisijungti";
}
a:hover {
  text-decoration: underline;
}
button:focus {
  outline: none;
}
a {
  color: rgba(0, 0, 0, 0.87);
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 13px;
}
#gmail {
  grid-area: gmail;
  justify-self: center;
  align-self: center;
}
#Vaizdai {
  grid-area: Vaizdai;
  justify-self: center;
  align-self: center;
}
#icon {
  grid-area: icon;
  justify-self: center;
  align-self: center;
}
#Prisijungti {
  grid-area: Prisijungti;
  justify-self: center;
  align-self: center;
  background: #1a73e8;
  border: 1px solid transparent;
  box-sizing: border-box;
  padding: 9px 23px;
  border-radius: 4px;
  outline: none;
  color: #fff;
}
main {
  min-height: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 320px 38px 65px;
  grid-template-areas:
    ". google ."
    ". search ."
    ". button .";
}
#google {
  grid-area: google;
  justify-self: center;
  align-self: end;
  padding-bottom: 20px;
}
#search {
  grid-area: search;
  justify-self: center;
  align-self: end;
  width: 560px;
  height: 30px;
  padding: 5px 8px 5px 16px;
  padding-left: 50px;
  background: #fff;
  border: 1px solid #dfe1e5;
  box-shadow: none;
  border-radius: 24px;
  line-height: 25px;
}

#search:focus {
  box-shadow: 1px 1px 5px grey;
  outline: none;
}
#search:hover {
  box-shadow: 1px 1px 5px grey;
}
.fas {
  padding-top: 9px;
  padding-left: 25px;
  width: 20px;
  height: 20px;
  grid-area: search;
}
#mygtukai {
  grid-area: button;
  justify-self: center;
  align-self: end;
  font-weight: bold;
}
#google-search {
  margin: 11px 4px;
  padding: 0 16px;
  background-color: #f8f9fa;
  border: 1px solid #f8f9fa;
  border-radius: 4px;
  color: #3c4043;
  font-family: arial, sans-serif;
  font-size: 14px;
  height: 36px;
  min-width: 54px;
  cursor: pointer;
  user-select: none;
}
#Man-sekasi {
  margin: 11px 4px;
  padding: 0 16px;
  background-color: #f8f9fa;
  border: 1px solid #f8f9fa;
  border-radius: 4px;
  color: #3c4043;
  font-family: arial, sans-serif;
  font-size: 14px;
  height: 36px;
  min-width: 54px;
  cursor: pointer;
  user-select: none;
}
